* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cardShow {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  display: none;
  flex-direction: column;
}


.cardSelecao .card{
    width: 250px;
    height: 200px;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;

}

.cardSelecao .close{
    display: none;
}